.row.marquee
	.container(style="padding-left: 0; padding-right: 0")
		div.col-md-2(style="z-index: 10")
			span.title.pull-left INDICES
		div.col-md-10(style="z-index: 2")
			p#marquee
				span CIVIL RIGHTS 86
					img(src="/images/indices-up.png" style="padding-left: 10px")
				span HOUSING 32
					img(src="/images/indices-up.png" style="padding-left: 10px")
				span ROLE OF GOVERNMENT 38
					img(src="/images/indices-down.png" style="padding-left: 10px")
				span CIVIL RIGHTS 86
					img(src="/images/indices-up.png" style="padding-left: 10px")
				span HOUSING 32
					img(src="/images/indices-up.png" style="padding-left: 10px")
				span ROLE OF GOVERNMENT 39
					img(src="/images/indices-down.png" style="padding-left: 10px")