.col-md-3
	.block.block-trending-voices
		span(style="font-size: 16px; padding-right: 4px") Trending Voices
		img(src="/images/trending-voice-active.png" style="padding: 0 5px")
		img(src="/images/trend-1-inactive.png" style="padding: 0 5px")
		img(src="/images/trend-2-inactive.png" style="padding: 0 5px")
		img(src="/images/trend-3-inactive.png" style="padding: 0 5px")
		img(src="/images/arrow-icon.png" style="padding: 0 5px")
		hr.dark-full
		ul
			li 
				h5(style="display: inline; padding-bottom: 10px; color: #991b1e") NYC LGBTQ Parade: 
				span Hillary Clinton attends LGBTQ parade
			li 
				h5(style="display: inline; padding-bottom: 10px; color: #991b1e") Nuclear Missiles: 
				span US, South Korea and Japan conduct first joint missile-tracking drill
			li 
				h5(style="display: inline; padding-bottom: 10px; color: #991b1e") Canada Elections: 
				span Justin Trudeau elected as Prime Minister
			li 
				h5(style="display: inline; padding-bottom: 10px; color: #991b1e") Defense: 
				span Indian Air Force inducts indigenously made LCA HAL Tejas
		hr.dark-full
		h4(style="color: #991b1e") See All 
			span.caret
	.block.block-people-to-support
		h5 People To Support
		hr.full.dark
		.block.block-support.row
			.col-md-2
				img.pull-left(src="/images/donald-trump.png")
			.col-md-9.col-md-push-1
				p.user-verified 
					a( href="/politician" style="color: #333;" ) Donald Trump
				button.btn.btn-default Support
			.col-md-12
				progress(value="62" max="100")
				p.similar 62% Similar
		.block.block-support.row
			.col-md-2
				img.pull-left(src="/images/johnathan-doe.png")
			.col-md-9.col-md-push-1
				p Johnathan Doe
				button.btn.btn-default.pull-left Support
			.col-md-12
				progress(value="48" max="100")
				p.similar 48% Similar
		.block.block-support.row
			.col-md-2
				img.pull-left(src="/images/hillary-clinton.png")
			.col-md-9.col-md-push-1
				p.user-verified Hillary Clinton
				button.btn.btn-default.pull-left Support
			.col-md-12
				progress(value="30" max="100")
				p.similar 30% Similar
		.block.block-support.row
			.col-md-2
				img.pull-left(src="/images/rahm-emanuel.png")
			.col-md-9.col-md-push-1
				p.user-verified Rahm Emanuel
				button.btn.btn-default.pull-left Support
			.col-md-12
				progress(value="58" max="100")
				p.similar 58% Similar
		.block.block-support.row
			.col-md-2
				img.pull-left(src="/images/surya-rao.png")
			.col-md-9.col-md-push-1
				p Surya Rao
				button.btn.btn-default.pull-left Support
			.col-md-12
				progress(value="90" max="100")
				p.similar 90% Similar
		hr
		h4(style="color: #991b1e") See All 
			span.caret